
body{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;   
    background-color: hsl(220, 15%, 55%);  
}
.main {
    width: 270px;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 20px;

}

img {

    border-radius: 20px;
}

h1, p {
    text-align: center;
}

p {
    font-size: 22px;
    opacity: 0.4;
}